@page
@model ZealandDimselab.Pages.Items.AllItemsModel
@{
}

<p>
    <a class="btn btn-primary" data-toggle="tooltip" title="Add Item" asp-page="CreateItem"><i class="fa fa-plus-square mr-1"></i> Create a new Item </a>
</p>

<table class="table table-bordered table-hover table-striped" width="70%">
    <col style="width: 5%">
    <col style="width: 30%">
    <col style="width: 50%">
    <col style="width: 15%">


    <thead>
        <tr class="btn-secondary active">
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Id</h5></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Name</h5></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Description</h5></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between p-0">
                </div>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr class="btn-secondary">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <a class="btn" type="button" asp-page="ItemDetails" asp-route-id="@item.Id"><i class="fa fa-arrow-left" style="color: grey"></i></a>
                    <a class="btn" type="button" asp-page="EditItem" asp-route-id="@item.Id"><i class="fa fa-arrow-left" style="color: grey"></i></a>
                    <a class="btn" type="button" asp-page="RemoveItem" asp-route-id="@item.Id"><i class="fa fa-arrow-left" style="color: grey"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>
